/*폰트 적용*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}


/*노말라이즈*/
body,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/*라이브러리*/

.con {
    margin-left: auto;
    margin-right: auto;
}

.cell {
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.img-box > img {
    display: block;
    width: 100%;
    text-align: center;
}
/*커스텀*/
html,
body {
    overflow-x: hidden;
    background-color: rgb(233, 233, 233);
}
.con {
    max-width: 1000px;
}
.logo-bar {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bn-box {
    margin-bottom: 20px;
    margin-top: 20px;
}
@media ( max-width:700px ) {
    .top-bn-box-1 {
        overflow-x:hidden;
    }

    .top-bn-box-1 > .img-box {
        margin-left:-50%;
    }
}

.menu-box {
    margin-bottom: 20px;
    margin-top: 20px;
}
.menu-box > ul > li {
    width: calc(100% / 7);
}
@media (max-width: 800px) {
    .menu-box {
        display: none;
    }
}

.menu-box > ul > li > a {
    display: block;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.menu-box > ul > li:hover > a {
    color: red;
    text-decoration: underline;
}
.menu-box > ul > li > a::before,
.menu-box > ul > li > a::after {
    content: "";
    width: 1px;
    height: 13px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 0;
}
.menu-box > ul > li > a::after {
    left: auto;
    right: 0;
}
.menu-box > ul > li:first-child > a::before,
.menu-box > ul > li:last-child > a::after {
    width: 2px;
}
.list > ul > li {
    width: calc(100% / 3);
}

.list > ul > li {
    padding: 0 10px;
}
.list > ul {
    margin: 0 -10px;
}

.list > ul > li > .product-name {
    text-align: Center;
    font-weight: bold;
}
.list > ul > li:hover > .product-name {
    text-decoration: underline;
}
.list > ul > li > .product-price {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(255, 87, 112);
}
.list > ul > li > .product-price::after {
    content: "원";
    font-size: 1rem;
    font-weight:normal;
}


@media (max-width: 800px) {
    .list > ul > li {
        width: calc(100% / 5);
    }
}

@media (max-width: 650px) {
    .list > ul > li {
        width: calc(100% / 4);
    }
}

@media (max-width: 500px) {
    .list > ul > li {
        width: calc(100% / 3);
    }
}

@media (max-width: 400px) {
    .list > ul > li {
        width: calc(100% / 2);
    }
}

@media (max-width: 300px) {
    .list > ul > li {
        width: calc(100% / 1);
    }
}
.navbar{
    display: flex; /*한 줄에 나란히 여러개 inline 효과 비슷*/
    justify-content: space-between; /* 중간 중간 스페이스 넣기*/
    align-items: center; /*아이템을 수직적으로 중간축으로 만들기*/
    padding: 8px 12px;
}
.navbar__logo{
    font-size: 24px;  /*로고글씨*/
    color: rgb(230, 76, 76);
    font-weight: bold;
}

.navbar__logo i{
    color: rgb(230, 76, 76); /*로고색깔*/
}

.navbar__menu{
    display: flex;  
    list-style: none;
    padding-left: 0;
}
.navbar__menu li{
    padding: 8px 12px; 
}
.navbar__menu li:hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}
.navbar__icons{ 
    list-style: none;
    color: rgb(230, 76, 76);
    display: flex;
    padding-left: 0;
}
.navbar__icons li{
    padding: 8px 12px;  
}

.hr-sect {
    padding-left: 15%;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgb(230, 76, 76);
    font-size: 12px;
    margin: 8px 0px;
    width: 70%;
}
.hr-sect::before,
.hr-sect::after {
content: "";
flex-grow: 1;
background: rgb(255, 114, 114);
height: 1px;
font-size: 0px;
line-height: 0px;
margin: 0px 16px;

}

#contact  {
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 130px;
    padding-top: 10px;
    color: rgb(89, 117, 145);
}